<div class="container" id="contact">
    <div class="columns">
        <div class="column">
            {% partial 'site/contact' %}
        </div>
    </div>
</div>
<div class="container" id="socials">
    <div class="columns is-mobile">
        <div class="column">{% partial 'socials/twitter' %}</div>
        <div class="column">{% partial 'socials/spotify' %}</div>
        <div class="column">{% partial 'socials/soundcloud' %}</div>
        <div class="column">{% partial 'socials/youtube' %}</div>
    </div>
</div>
<div class="container" id="meta-nav">
        <div class="columns is-mobile">
            <div class="column"><a href='/imprint' title='Imprint'>Imprint</a></div>
            <div class="column"><a href='/privacy' title='Privacy Notice'>Privacy</a></div>
        </div>
    </div>
<div class="container" id="copyright">
    <div class="columns is-mobile">
        <div class="column">
            <a class="muted credit">MMXIX</a>
        </div>
    </div>
</div>