<div class="container">
    <div class="columns">
        <div class="column">{% partial 'socials/twitter' %}</div>
        <div class="column">{% partial 'socials/spotify' %}</div>
        <div class="column">{% partial 'socials/soundcloud' %}</div>
        <div class="column">{% partial 'socials/youtube' %}</div>
    </div>
</div>
<div class="container">
    <div class="columns">
        <div class="column">
            <p class="muted credit">&copy; 2019 - {{ "now"|date("Y") }} Dojin Studio &amp; <a href="mailto:hello@pieterpassmann.dev" title="contact developer">Pieter Passmann</a>.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="columns">
        <div class="column"><a href='/imprint' title='Imprint'>Imprint</a></div>
        <div class="column"><a href='/privacy' title='Privacy Notice'>Privacy</a></div>
    </div>
</div>